<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        {{!-- <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@site.url}}">Latest Posts</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer> --}}
            <div class="is-hidden-mobile" style="display: flex; flex: 0 0 auto; width: 100%; margin-top: 48px; font-size: 15px; justify-content: center; border-top: 1px solid rgb(245, 239, 228);">
                     <div style="display: flex; width: 100%; justify-content: space-around; flex-direction: row; padding-top: 32px; padding-bottom: 32px;">
                        <div style="display: flex; width: 900px; justify-content: space-around; flex-direction: row; max-width: 900px; padding-top: 32px; padding-bottom: 32px;">
                           <div style="display: flex; align-items: flex-start; flex-direction: row; order: 0; width: 220px;">
                              <div>
                                 <img viewbox="0 0 120 126" style="width: 100px; height: 100%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; margin-top: 2px; margin-right: 20px; margin-bottom: 0px;" src="/static/img/logo.png">
                                 <p style="margin: 0px 0px 12px; font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-weight: inherit; text-align: left; color: rgba(55, 53, 47, 0.6);">
                                 </p><div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                                    <div style="min-width: 0px; display: flex;">
                                       <div>Shortlist and hire the best engineers faster.</div>
                                    </div>
                                    <div style="min-width: 0px; display: flex; margin-top: 8px;">
                                       <div>© 2019 Adaface Pvt. Ltd.</div>
                                    </div>
                                 </div>
                                 <p></p>
                              </div>
                           </div>
                           <div style="margin-bottom: 0px;">
                              <div style="display: inline-flex; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 4px; padding: 1px 4px; border-bottom: none; font-weight: 700;">Links</div>
                              <a href="/app/dashboard/login" rel="no-referrer no-follow" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Log in
                              </a>
                              <a href="/terms-of-use" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Terms of Use
                              </a>
                              <a href="/privacy-policy" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Privacy Policy
                              </a>
                              <a href="/compare-pre-employment-testing-software/hackerrank-vs-adaface/hackerrank-alternative" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Compare HackerRank vs Adaface
                              </a>
                           </div>
                           <div style="margin-bottom: 0px;">
                                <div style="display: inline-flex; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 4px; padding: 1px 4px; border-bottom: none; font-weight: 700;">Product</div>
                                <a href="/app/dashboard/login" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                  Overview
                                </a>
                                 <a href="/pre-built-assessment-tests/all-aptitude-tests" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Aptitude Tests
                                 </a>
                                 <a href="/pre-built-assessment-tests/all-software-engineering-tests" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Programming Tests
                                 </a>
                                 <a href="/pre-built-assessment-tests/all-tests" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Test library
                                 </a>
                                 <a href="/pricing" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Pricing
                                 </a>
                            </div>
                            <div style="margin-bottom: 0px;">
                                <div style="display: inline-flex; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 4px; padding: 1px 4px; border-bottom: none; font-weight: 700;">Company</div>
                                <a href="/about-us" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    About us
                                 </a>
                                <a href="https://angel.co/adaface" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Join Us
                                </a>
                            </div>
                            <div style="margin-bottom: 0px;">
                                <div style="display: inline-flex; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 4px; padding: 1px 4px; border-bottom: none; font-weight: 700;">Contact</div>
                                <a href="mailto:deepti@adaface.com" style="cursor: pointer; display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; height: 20px; min-width: 20px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 5px; padding-right: 5px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; min-height: 20px; padding-top: 0px; padding-bottom: 0px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Email Us
                                </a>
                            </div>
                        </div>
                     </div>
                  </div>
<div class="is-hidden-tablet" style="display: flex; flex: 0 0 auto; width: 100%; margin-top: 48px; font-size: 17px; justify-content: flex-start; border-top: none;">
                     <div style="display: flex; width: 100%; justify-content: flex-start; flex-direction: column; max-width: 900px; padding-top: 32px; padding-bottom: 64px;">
                        <div style="display: flex; align-items: flex-start; flex-direction: column; order: 1; width: 100%;">
                           <div>
                              <img viewbox="0 0 120 126" style="width: 100px; height: 100%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; margin-top: 2px; margin-right: 20px; margin-bottom: 0px;" src="/static/img/logo.png">
                           </div>
                           <div>
                              <!-- <div style="font-weight: 700; margin-bottom: 7px;">Notion</div> -->
                              <p style="margin: 0px 0px 12px; font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-weight: inherit; text-align: left; color: rgba(55, 53, 47, 0.6);">
                              </p><div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                                 <div style="min-width: 0px; display: flex;">
                                    <div>Shortlist and hire the best engineers faster.</div>
                                 </div>
                                 <div style="min-width: 0px; display: flex; margin-top: 8px;">
                                    <div>© 2019 Adaface Pvt. Ltd.</div>
                                 </div>
                              </div>
                              <p></p>
                           </div>
                        </div>
                        <div style="margin-bottom: 24px;">
                           <div style="display: block; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 10px; padding: 10px 4px; border-bottom: 1px solid rgb(242, 235, 230); font-weight: 700;">Links</div>
                           <a href="/app/dashboard/login" rel="no-referrer no-follow" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Login
                           </a>
                           <a href="/terms-of-use" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Terms of Use
                            </a>
                            <a href="/privacy-policy" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Privacy Policy
                            </a>
                            <a href="/compare-pre-employment-testing-software/hackerrank-vs-adaface/hackerrank-alternative" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Compare HackerRank vs Adaface
                            </a>
                        </div>
                        <div style="margin-bottom: 24px;">
                           <div style="display: block; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 10px; padding: 10px 4px; border-bottom: 1px solid rgb(242, 235, 230); font-weight: 700;">Product</div>
                           <a href="/" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Overview
                            </a>
                           <a href="/pre-built-assessment-tests/all-aptitude-tests" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              Aptitude Tests
                           </a>
                           <a href="/pre-built-assessment-tests/all-software-engineering-tests" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              Programming Tests
                           </a>
                           <a href="/pre-built-assessment-tests/all-tests" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              Test Library
                           </a>
                           <a href="/pricing" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              Pricing
                           </a>
                        </div>
                        <div style="margin-bottom: 24px;">
                           <div style="display: block; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 10px; padding: 10px 4px; border-bottom: 1px solid rgb(242, 235, 230); font-weight: 700;">Company</div>
                           <a href="/about-us" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              About us
                          </a>
                           <a href="https://angel.co/adaface" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Join Us
                            </a>
                        </div>
                        <div style="margin-bottom: 24px;">
                            <div style="display: block; width: 100%; white-space: nowrap; border-radius: 3px; margin-bottom: 10px; padding: 10px 4px; border-bottom: 1px solid rgb(242, 235, 230); font-weight: 700;">Contact Us</div>
                            <a href="mailto:deepti@adaface.com" style="display: flex; text-decoration: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; width: 100%; cursor: pointer; display: flex; flex-shrink: 1; align-items: center; height: 24px; min-width: 24px; width: 100%; font-size: 14px; line-height: 1.4; padding-left: 6px; padding-right: 6px; border-radius: 3px; opacity: 1; user-select: none; transition-property: background, opacity; transition-duration: 100ms; transition-timing-function: ease-out; color: rgb(55, 53, 47); fill: rgb(55, 53, 47); margin-bottom: 4px; flex-grow: 1; flex-shrink: 1; min-height: 24px; padding-top: 2px; padding-bottom: 2px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Email Us
                            </a>
                        </div>
                     </div>
                  </div>
    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}


    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
